.__RootEditor__ {
  $font-size: 10px;

  .ImageNode__Caption {
    position: relative;
    display: block;
    min-width: 100px;
    overflow: hidden;
    @apply text-space-4 dark:text-cream-4;

    .ContentEditable {
      position: relative;
      display: block;
      min-height: 20px;
      border: 0px;
      outline: 0px;
      padding: 5px 10px;
      user-select: text;
      font-size: $font-size;
      width: calc(100% - 20px);
      white-space: pre-wrap;
      word-break: break-word;
      resize: none;
      cursor: text;

      @apply caret-space-1 dark:caret-cream-1;
    }

    .Placeholder {
      font-size: $font-size;
      position: absolute;
      top: 10px;
      left: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
      display: inline-block;
      pointer-events: none;

      @apply text-neutral-4 dark:text-neutral-4;
    }

    .ImageNode__Resizer--resizing {
      touch-action: none;
    }

    .tree-view-output {
      margin: 0;
      border-radius: 0;
    }
  }
}
