.Root__Editor {
  &__Wrapper {
    position: relative;
  }

  &__ContentEditable {
    background-color: white;
    min-height: 300px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
    resize: vertical;
  }

  &__Placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
  }

  &__Heading {
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  &-h1 {
    @extend .Root__Editor__Heading;
    @apply text-3xl;
  }

  &-h2 {
    @extend .Root__Editor__Heading;
    @apply text-2xl;
    margin-top: 10px;
  }

  &-h3 {
    @extend .Root__Editor__Heading;
    @apply text-xl;
    margin-top: 8px;
  }

  &-h4 {
    @extend .Root__Editor__Heading;
    @apply text-lg;
    margin-top: 8px
  }

  &-h5 {
    @extend .Root__Editor__Heading;
    @apply text-base;
    margin-top: 8px
  }

  &-h6 {
    @extend .Root__Editor__Heading;
    @apply text-sm;
    margin-top: 8px

  }
}

