.__RootEditor__ {
  .RootEditor__RichText .RootEditor__Placeholder {
    top: 50px;
  }

  .RootEditor__PlainText .RootEditor__Placeholder {
    top: 8px;
  }

  .RootEditor__Placeholder {
    position: absolute;
    left: 28px;
    right: auto;
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;

    @apply text-neutral dark:text-neutral;
  }

  @media (max-width: 1025px) {
    .RootEditor__Placeholder {
      left: 12px;
    }
  }
}
